*{
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 1250px;
    margin: 0 auto;
}
header{
    background-color:  #f1f1f1;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.row{
    background-color: #263a96;
    width: 170px;
    height: 80px;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    color: white;
    font-size: 20px;
}
h4{
    color: white;
    margin: 0 0 0 10px;
}
.option{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 0 60px 0 0;
}
h1{
    font-size: 52px;
    width: 30%;
    color: #263a96;
    margin: 90px 0 0 40px;
}
p{
    font-size: 20px;
    width: 40%;
    margin: 20px 0 0 40px;
}
.box{
    background-color: #f1f1f1;
    width: 40%;
    display: flex;
    height: 70px;
    margin: 90px 30px;
}
ul li{
    display: inline-block;
    margin: 4px 20px;
}
button{
    padding: 5px 50px;
    background-color: #edc315;
    border-radius: 32px;
    border: none;
    color: white;
    font-size: 20px;
    margin: 15px 30px;
}
.box-1{
    height: 500px;
    background-image: linear-gradient(209deg, #f2e482 0%, #956c1f 45%, #f2e482 80%, #b48d2d 100%);
    width: 500px;
    position: absolute;
    border-radius: 20px;
    top: 100px;
    left: 800px;
}
.box-2{
    height: 500px;
    background-color: #f1f1f1;
    width: 500px;
    position: absolute;
    top: 80px;
    left: 820px;
    border-radius: 20px;
}
footer{
    background-color: #263a96;
    height: 60px;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.sec-one-text h3{
    margin: 0 0 0 90px;
}
.sec-two-text {
    margin: 0 0 0 50px;    
    font-size: 10px;
}
.sec-three-text h3{
    margin: 0 0 0 95px;
}
.sec-inner{
    margin: 0 0 0 600px;
}
.sec-inner-one{
    margin: 0 0 0 30px;
}
.sec-inner-two{
    margin: 0 0 0 35px;
}




